__pycache__/
*.csv
*.bak
*.dat
.vscode/
*.pytest_cache
*.coverage
venv/
envs/
.env.dev
.env.prod
load_env.py
.idea
/src/apis/v1/workers/.env.worker
# envs/git
# .env.dev
# .env.prod
# load_env.py

.idea
local_test.py
/public/assets/
/alembic/
/build/
